<!DOCTYPE html>
<html>
<head>
<title>Flight List</title>
<style> td{text-align:center;}</style>
<link rel="stylesheet" href="../statics/css/flightlist.css">
<script type="text/javascript">
  function load(){
      var user=document.getElementById("user");
      var anoy=document.getElementById("anoy");
      var daer= '{{account|tojson}}';
      if (daer=='true'){
          user.style.display="block";
          anoy.style.display="none";
      }
      else{
          user.style.display="none";
          anoy.style.display="block";
      }
  }
</script>
</head>
<body onload="load()">
  <ul id=user>
      <li><a href="/logout">Log Out</a></li>
      <li><a href="/">Home</a></li>
      <li><a href="/mylist">{{user}}</a></li>
  </ul>
  <ul id=anoy>
      <li><a href="login">Sign Up</a></li>
      <li><a href="login">Sign In</a></li>
      <li><a href="/">Home</a></li>
  </ul>
<div align="center"  overflow-x="none">
    <table width="70%" overflow-y="scroll">
    <tr>
      <td>Airline</td>
      <td>Flight number</td>
      <td>Time</td>
      <td>Price</td>
      <td>Airport</td>
    </tr>
    {% for result in data %}
    <tr>
        <td>{{result[0]}}</td>
        <td>{{result[1]}}</td>
        <td>{{result[2]}}<br>
            {{result[3]}}</td>
        <td>${{result[-1]}}</td> 
        <td>{{result[4]}} T{{result[5]}}<br>
            {{result[6]}} T{{result[7]}}</td> 
        <td><form action="{{ url_for('buy', next=url_for('buy'))}}" method="POST">
            <input type="hidden" name='fid' value='{{result[1]}}'>
            <input type="hidden" name='time' value='{{result[2]}}'>
            <input type="submit" value="Buy" id="Buy" class="btn btn-fullWidth">
            </form>
        </td>    
    </tr>
    {% endfor %}
    </table>
</div>
</body>
</html>